<!DOCTYPE html>
<html class="body-full-height">
  <head>
    <meta charset="utf-8">
    <title>Wunderlist - Developer</title>
    <meta title="description" content="">
    <meta title="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="/css/essentials.min.css">
    <link rel="stylesheet" href="/css/pictograms.min.css">
    <style>
    </style>
  </head>
  <body>
    <%= render 'developer/menu.html' %>
    <header class="full-width bg-true-white md-table gray page-header overflow-hidden">
      <div class="container mt3 py4 border-box clearfix relative">
        <div class="col-inline col-6 border-box">
          <h1 class="mt0 mb1 lighter mr2">Build amazing Apps using our SDK</h1>
          <p class="mt2 light-gray h4 mr2">The Wunderlist APIs allow you to integrate complex services with Wunderlist to go beyond the integrations we already provide out of the box. Join the community of developers building with Wunderlist.</p>
          <div class="mt3 mb4">
            <a class="button center inline-block bg-blue">Register Your App</a>
            <a href="docs.html" class="button border ml2 center inline-block bg-white light-gray">Learn More</a>
          </div>
        </div>
        <div class="absolute" style="right:-100px;top:-130px">
          <img class="left md-table-cell inline-block rounded vt" src="./images/developer/apps.png" width="650px"/>
        </div>
      </div>
    </header>
    <%= render 'developer/footer.html' %>
    <script src="/js/app.min.js"></script>
  </body>
</html>
