<!DOCTYPE html>
<html class="body-full-height">
  <head>
    <meta charset="utf-8">
    <title>Wunderlist Integrations</title>
    <meta title="description" content="">
    <meta title="author" content="">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="stylesheet" href="css/essentials.min.css">
    <link rel="stylesheet" href="css/pictograms.min.css">
    <style>
    </style>
  </head>
  <body>
    <%= render 'integrations/menu-new.html' %>
    <header class="full-width bg-white md-table pictos border-bottom relative">
      <div class="container md-table pb4 pt4 center">
        <img class="inline-block vt mr3" src="//d2hkcehpyog59.cloudfront.net/c9862c004a636c06abfc37df1132c9d472247b27/images/header.png" width="396px"/>
        <div class="col-9 mx-auto">
          <h1 class="lighter" >Wunderlist Integrations</h1>
          <p class="h4 ml4 mr4">Discover new ways to work with Wunderlist. Connect your favourite apps with your favourite to-do list and achieve even more.</p>
          <a href="#integrations" class="h4">See Integrations</a>
        </div>
      </div>
    </header>
    <header class="full-width white" style="background-color:#FF5C57;height:500px;">
      <div class="container full-height md-table px2 border-box relative z2">
        <div class="md-table-cell py4">
          <div class="col-inline col-1 vt">
            <img class="left md-table-cell inline-block drop-shadow round-square vt mr3" src="./images/integrations/sunrise.jpg" width="70px"/>
          </div>
          <div class="col-inline col-6 px2 border-box">
            <h1 class="mt0 mb1 lighter line-height-1">Sunrise</h1>
            <p class="h4">Sunrise is a free calendar app specifically designed to make your life easier. All to-dos with a due date get synced to a calendar in Sunrise.</p>
            <a class="button center bg-white inline-block" style="color:#FF5C57;">
              Learn More
            </a>
          </div>
        </div>
        <div class="absolute bottom-0 top-0 right-0 md-show" style="right:10px;">
          <img class="left inline-block vt" src="//d2hkcehpyog59.cloudfront.net/234b07cb1a3bee199fb2f42afb2fc8332727300c/hero/sunrise@2x.png" height="500px" data-reactid=".2dedm8r0dmo.1.$sunrise.0.1.0">
        </div>
      </div>
    </header>
    <%= render 'developer/footer.html' %>
    <script src="js/app.min.js"></script>
  </body>
</html>